<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fuxi Scanner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    {% block css %}

    {% endblock %}
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header"><a class="app-header__logo" href="index">Fuxi Scanner</a>
      <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
      <!-- Navbar Right Menu-->
        <ul class="app-nav">
            <li class="app-search">
                <form method="post" action="search">
                    <input class="app-search__input" type="search" name="search" placeholder="Search">
                    <button class="app-search__button search_btn" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </li>
        <!--Notification Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Show notifications"><i class="fa fa-bell-o fa-lg"></i></a>
                <div id="notification_update">

                </div>
            </li>

            <!-- User Menu-->
            <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="advanced-option"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                    <li><a class="dropdown-item" href="https://fuxi-scanner.com" target="_blank"><i class="fa fa-user fa-lg"></i> About</a></li>
                    <li><div class="dropdown-divider"></div><a class="dropdown-item" href="login-out"><i class="fa fa-sign-out fa-lg"></i> Logout</a></li>
                </ul>

            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">

        <ul class="app-menu">
            <li>
                <a class="app-menu__item" href="dashboard">
                    <i class="app-menu__icon fa fa-line-chart"></i>
                    <span class="app-menu__label">Dashboard</span>
                </a>
            </li>

            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-bug"></i>
                    <span class="app-menu__label">Vulnerability Scanner</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="new-scan"><i class="icon fa fa-edit"></i>New Scan</a></li>
                    <li><a class="treeview-item" href="task-management"><i class="icon fa fa-indent"></i>Tasks</a></li>
                    <li><a class="treeview-item" href="vulnerability"><i class="icon fa fa-circle-o"></i> Vulnerabilities</a></li>
                    <li><a class="treeview-item" href="plugin-management"><i class="icon fa fa-gitlab"></i> Plugins</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-calendar-minus-o"></i>
                    <span class="app-menu__label">Asset Management</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="new-asset"><i class="icon fa fa-edit"></i>New Asset</a></li>
                    <li><a class="treeview-item" href="asset-management"><i class="icon fa fa-indent"></i>Asset</a></li>
                    <li><a class="treeview-item" href="asset-services"><i class="icon fa fa-circle-o"></i> Services</a></li>
                </ul>
            </li>


            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-gavel"></i>
                    <span class="app-menu__label">Authentication Tester</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="new-auth-tester"><i class="icon fa fa-pencil"></i>Add Scan</a></li>
                    <li><a class="treeview-item" href="auth-tester-tasks"><i class="icon fa fa-indent"></i>Tasks Management</a></li>
                    <li><a class="treeview-item" href="week-passwd-list"><i class="icon fa fa-file-text"></i>Week Passwd List</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-deviantart"></i>
                    <span class="app-menu__label">Subdomain Brute</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="subdomain-brute"><i class="icon fa fa-pencil"></i>New Domain</a></li>
                    <li><a class="treeview-item" href="subdomain-list"><i class="icon fa fa-indent"></i>Result</a></li>
                </ul>
            </li>

{#            <li class="treeview">#}
{#                <a class="app-menu__item" href="#" data-toggle="treeview">#}
{#                    <i class="app-menu__icon fa fa-crop"></i>#}
{#                    <span class="app-menu__label">DirBuster</span>#}
{#                    <i class="treeview-indicator fa fa-angle-right"></i>#}
{#                </a>#}
{#                <ul class="treeview-menu">#}
{#                    <li><a class="treeview-item" href="subdomain-brute"><i class="icon fa fa-pencil"></i>New Scan</a></li>#}
{#                    <li><a class="treeview-item" href="subdomain-list"><i class="icon fa fa-indent"></i>Result</a></li>#}
{#                </ul>#}
{#            </li>#}


            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-heartbeat"></i>
                    <span class="app-menu__label">Acunetix Scanner</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="acunetix-scanner"><i class="icon fa fa-pencil"></i>New Scanner</a></li>
                    <li><a class="treeview-item" href="acunetix-tasks"><i class="icon fa fa-gear"></i>Tasks Management</a></li>
                </ul>
            </li>

            <li>
                <a class="app-menu__item" href="port-scanner">
                    <i class="app-menu__icon fa fa-eercast"></i>
                    <span class="app-menu__label">Port Scanner</span>
{#                    <i class="treeview-indicator fa fa-angle-right"></i>#}
                </a>
            </li>

            <li class="treeview">
                <a class="app-menu__item" href="#" data-toggle="treeview">
                    <i class="app-menu__icon fa fa-cogs"></i>
                    <span class="app-menu__label">Settings</span>
                    <i class="treeview-indicator fa fa-angle-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a class="treeview-item" href="advanced-option"><i class="icon fa fa-pencil"></i>Advanced Options</a></li>
{#                    <li><a class="treeview-item" href="system-config"><i class="icon fa fa-gear"></i>System Config</a></li>#}
                </ul>
            </li>

        </ul>
    </aside>
    {% block content %}

    {% endblock %}


    <script src="static/js/jquery/jquery-3.2.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
    <script src="static/js/plugins/pace.min.js"></script>
{#    <script src="static/js/server/update.js"></script>#}
    {% block js %}

    {% endblock %}
  </body>
</html>